body {
  /* font-family: 'Times New Roman', Times, serif; */
  font-family: "Roboto", sans-serif;
}

header {
  background-image: linear-gradient(180deg, #c4b6fd, #93acfc);
}

.navbar-brand,
.text-primary {
  color: #0a58ca !important;
}

.nav-link {
  font-weight: 500;
}

.btn-primary {
  background-color: #0a58ca !important;
  border: none;
}

.nav-link:hover {
  color: #0a58ca;
}

.btn-primary:hover {
  background-color: #257dfd !important;
}

p {
  font-size: 18px;
}

.icons {
  height: 33px;
  width: 32px;
  margin-bottom: 16px;
  color: #0a58ca;
  background-color: #f2f2f2;
  padding: 6px;
}

.blue-bg{
  background-color: #0a58ca;
  color: #fff;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  border: none !important;
  background-color: #0a58ca;
  color: white;
}

.nav-tabs{
  border: none !important;
}